<hr>
<h2>Available Flights</h2>
<% unless available_flights.length.zero? %>

<%= form_with url: '/bookings/new', method: :get do |form| %>
<table id="flights-table">
  <tr>
    <th>Select</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Date</th>
    <th>Flight Time</th>
  </tr>
  <% available_flights.each do |flight| %>
  <tr>
    <input type="hidden" name="passengers" value="<%= passenger_count %>">
    <td><input type="radio" id="<%= flight.id %>" name="flight_id" value="<%= flight.id %>"></td>
    <td><%= flight.origin.code %></td>
    <td><%= flight.destination.code %></td>
    <td><%= flight.date %></td>
    <td><%= flight.duration %></td>
  </tr>
  <% end %>
</table>
<%= form.submit 'Continue' %>
<% end %>
<% else %>
  <p>No flights available for that search.</p>
<% end%>
